.fundo{
    height: 100%;
    width: 100%;
    background-image: url(../Imagens/Dojo.png);
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

*{
    color: white;
}

#aleatorio{
    background-color: black;
    border-radius: 5px;
    padding: 2px;
    width: 100px;
    padding-left: 10px;
}

.gui{
    display: flex;
    margin: 5px;
    height: 50px;
}

.hudleft{
    position: fixed;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 20px;
}

.shop{
    height: 60%;
    width: 70%;
    border: 2px solid white;
    background-color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}

.killers img{
    height: 200px;
    width: 150px;
    margin: 10px;
    border-radius: 15px;
}