.fundo{
    height: 100%;
    width: 100%;
    background-image: url(Imagens/Lobby.png);
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

*{
    color: white;
}

#aleatorio{
    background-color: black;
    border-radius: 5px;
    padding: 2px;
    width: 100px;
    padding-left: 10px;
}

.gui{
    display: flex;
    margin: 5px;
    height: 50px;
}

.hudleft{
    position: fixed;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}